body{
    background:url(https://wallpapercave.com/wp/wp7940340.jpg);
    color: rgb(255, 255, 255);
}
h1{
    font-size: 55px;
    
}
h6{
    font-size: 30px;
}
.f{
    width: 250px;
}
